@import "abstracts/variables";

.toolbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius;
    padding: $margin-medium;

}

// .highlight {
//     color: #f50057;
//     background-color: rgb(255, 226, 236);
// }