.error-page-container {
    width: 100%;
    .error-img {
    }

    .error-msg {
        font-size: 36px;
        font-weight: lighter;
        color: #9e9a9a;
    }

    .error-status {
        font-size: 38px;
        font-weight: 600;
    }

    .wrapper * {
        margin: 0.2em;
    }
}
